In [7]:
import numpy as np

# Тема “Вычисления с помощью Numpy”
## Task1 
### Импортируйте библиотеку Numpy и дайте ей псевдоним np. Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение. Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [71]:
a = np.array([[1, 6],[2, 8], [3, 11], [3, 10], [1, 7]])
print(a)
print('Размерность a: {}'.format(a.ndim))
print('Форма a: {}'.format(a.shape))
#mean_a = format(a.mean(axis=0)) - когда использовал вывод через .format (как в методичке) не получалось сделать задание 2, 
# т.к. был конфликт форматов. Вероятно, стоит скорректировать/ дополнить методичку. Либо так задумано, чтобы студент додумался?)
mean_a = a.mean(axis=0)
print(f'Среднее значение по каждому признаку: {mean_a}')

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]
Размерность a: 2
Форма a: (5, 2)
Среднее значение по каждому признаку: [2.  8.4]

## Task2
### Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [79]:
a_centered = a-mean_a
print(f' a_centered: {a_centered}')

 a_centered: [[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

## Task3 
### Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [95]:
a_centered_t = a_centered.T
a_centered_sp = a_centered_t[0].dot(a_centered_t[1])
print(f'a_centered_sp: {a_centered_sp}')
print(f'Result: {a_centered_sp/ (a.shape[0] - 1)}')

a_centered_sp: 8.0
Result: 2.0

## Task4 
### Число, которое мы получили в конце задания 3 является ковариацией двух признаков, содержащихся в массиве “а”. В задании 4 мы делили сумму произведений центрированных признаков на N-1, а не на N, поэтому полученная нами величина является несмещенной оценкой ковариации.
### В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”. В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.

In [101]:
?np.cov

In [100]:
cov = np.cov(a.T)
print(cov)
print(f'Искомое значение ковариации: {cov[0,1]}')

[[1.  2. ]
 [2.  4.3]]
Искомое значение ковариации: 2.0

# Тема “Вычисления с помощью Pandas”
## Task1 
### Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский']. Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные: 
### [1, 1, 1, 2, 2, 3, 3],
### ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
### [450, 300, 350, 500, 450, 370, 290].

In [110]:
import pandas as pd
authors = pd.DataFrame(
    {
    'author_id': [1, 2, 3], 
    'author_name': ['Turgenev', 'Chehov', 'Ostrovsky']
    }
)
book = pd.DataFrame(
{
    'author_id': [1, 1, 1, 2, 2, 3, 3],
    'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    'price': [450, 300, 350, 500, 450, 370, 290]
}
)
print(authors)
print(book)

   author_id author_name
0          1    Turgenev
1          2      Chehov
2          3   Ostrovsky
   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

## Task2
### Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [112]:
authors_price = pd.merge(authors, book, on='author_id', how='left')
authors_price

   author_id author_name            book_title  price
0          1    Turgenev           Отцы и дети    450
1          1    Turgenev                 Рудин    300
2          1    Turgenev     Дворянское гнездо    350
3          2      Chehov      Толстый и тонкий    500
4          2      Chehov       Дама с собачкой    450
5          3   Ostrovsky                 Гроза    370
6          3   Ostrovsky  Таланты и поклонники    290

## Task3
### Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [147]:
authors_price.sort_values(by='price', inplace=True)
authors_price.reset_index(drop=True, inplace=True)
top5 = authors_price.tail(5)
top5

   author_id author_name         book_title  price
2          1    Turgenev  Дворянское гнездо    350
3          3   Ostrovsky              Гроза    370
4          1    Turgenev        Отцы и дети    450
5          2      Chehov    Дама с собачкой    450
6          2      Chehov   Толстый и тонкий    500

## Task 4
### Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
### author_name, min_price, max_price и mean_price,
### в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [153]:
#authors_stat = authors_price['author_name'].copy()
#authors_stat = authors_price.copy()
authors_stat = pd.DataFrame(authors_price['author_name'])
authors_stat.reset_index(drop=True, inplace=True)
authors_stat['min_price'] = authors_price['price'].min()
authors_stat['max_price'] = authors_price['price'].max()
authors_stat['mean_price'] = authors_price['price'].mean()
print(authors_stat)

  author_name  min_price  max_price  mean_price
0   Ostrovsky        290        500  387.142857
1    Turgenev        290        500  387.142857
2    Turgenev        290        500  387.142857
3   Ostrovsky        290        500  387.142857
4    Turgenev        290        500  387.142857
5      Chehov        290        500  387.142857
6      Chehov        290        500  387.142857

## Task5
### Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
### ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
### Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
### Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [157]:
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price

   author_id author_name            book_title  price    cover
0          3   Ostrovsky  Таланты и поклонники    290  твердая
1          1    Turgenev                 Рудин    300   мягкая
2          1    Turgenev     Дворянское гнездо    350   мягкая
3          3   Ostrovsky                 Гроза    370  твердая
4          1    Turgenev           Отцы и дети    450  твердая
5          2      Chehov       Дама с собачкой    450   мягкая
6          2      Chehov      Толстый и тонкий    500   мягкая

In [158]:
?pd.pivot_table

In [163]:
import numpy as np
book_info = pd.pivot_table(authors_price, values='price', index='author_name', columns='cover', aggfunc=np.sum)
book_info['мягкая'] = book_info['мягкая'].fillna(0)
book_info['твердая'] = book_info['твердая'].fillna(0)

cover        мягкая  твердая
author_name
Chehov        950.0      0.0
Ostrovsky       0.0    660.0
Turgenev      650.0    450.0

In [166]:
book_info.to_pickle('book_info.pkl')
book_info2 = pd.read_pickle('book_info.pkl')
print(book_info)
print(book_info2)

cover        мягкая  твердая
author_name
Chehov        950.0      0.0
Ostrovsky       0.0    660.0
Turgenev      650.0    450.0
cover        мягкая  твердая
author_name
Chehov        950.0      0.0
Ostrovsky       0.0    660.0
Turgenev      650.0    450.0